body{
  background-size: cover;
  font-family: "Mooli";
}
.header{
  background-color: #DC9443;
}
.container{
 width: 1425px;
 margin: auto;
}
.founder{
  display: flex;
  justify-content:space-around;
}
figcaption{
  font-style: italic;
  font-family: monospace;
}
.team, .founder{
  max-width: 200px;
  padding:5px;
  border: 3px solid #E3652D;
  border-radius: 10%;
}
.StatementIndent{
  margin-left: 50;
}
.mission{
  font-family: 'Sofia Sans Condensed', sans-serif;
}
