body{
  background-size: cover;
  font-family: "Mooli";
}
.header{
  background-color: #DC9443;
}
.container{
 width: 1425px;
 margin: auto;
}
.STEMseriesPoster{
  width: 250px;
  margin: 5px;
  padding: 5px;
  border: 3px solid #743122;
  border-radius: 10%;
}
.InspoInSTEM{
  width: 250px;
}
